html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --accent-color: #2196f3;
  --grey-background-color: #f5f4fa;
  --temporary-bg-color: #2f303a;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
  /* outline: solid 2px tomato; */
}

/* Утилиты */

.centred {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .contacts {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

.site-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
}

.main-nav > li:not(:last-child) {
  margin-right: 50px;
}

/* Logo  */

.logo {
  margin-right: 70px;

  color: var(--primary-black-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--title-text-color);
}

.contacts .link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}

.contacts .item + .item {
  margin-left: 30px;
}

/* Hero section */

.hero {
  background-color: var(--temporary-bg-color);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  /* margin: 0 auto; */

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  text-decoration: none;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
}

/* Section */

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features section */

.section.features {
  padding: 94px 0px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.features .section-title {
  display: none;
}

.features-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-list p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Works section */
.section.works {
  padding-bottom: 90px;
}

.works .section-title {
  margin-bottom: 50px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

/* Team section */

.section.team {
  padding: 94px 0;
  background-color: var(--grey-background-color);
}

.team .section-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  font-size: 16px;
  line-height: 1.18;
}

.team-list .item {
  display: block;
  width: calc((100%-90px) / 4);
  height: ;
  background-color: var(--primary-white-color);
  margin-right: 30px;
}

.team-list item:not(:nth-child(4n)) {
  margin-right: 0;
}

.team-list img {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
}

.team-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .position {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  padding: 60px 0;
  background-color: var(--temporary-bg-color);
}

.footer .logo {
  color: var(--primary-white-color);
}

.footer .contacts {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.contacts .link {
  display: block;
}

.footer .link {
  color: var(--transparent-white-color);
  font-weight: 400;
  line-height: 1.71;
}

.footer .address {
  text-decoration: none;
  color: var(--primary-white-color);
}
