/* Portfolio page css */

.filter {
  margin-bottom: 50px;
}

.filter button {
  border: 0px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--grey-background-color);
  color: var(--title-text-color);
}
.filter button:hover,
.filter button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 0px;
  cursor: pointer;
}

.porfolio-title {
  margin: 0;
  display: none;
}

.portfolio .link {
  text-decoration: none;
  color: inherit;
}

.portfolio img {
  margin-top: 0;
  margin-bottom: 20px;
}

.portfolio .title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.portfolio .text {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
